@use '../abstracts/variables' as *;

/* 
    typography-start
*/

.ot-p-1 {
    font-family: var(--ot-font-1);
    font-weight: 400;
    font-size: 18px;
    color: var(--ot-clr-p-1);
    line-height: 1.555;
    margin-bottom: 0;
}


.ot-h-1 {
    font-family: var(--ot-font-2);
    font-weight: 500;
    color: var(--ot-clr-h-1);
    line-height: 1.083;
    margin-bottom: 0;
}

.lt-subtitle-1 {
    font-family: var(--lt-font-1);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--lt-clr-pr-1);
    border: 1px solid rgb(10 31 67 / 12%);
    display: inline-flex;
    border-radius: 100px;
    gap: 6px;
    align-items: center;
    padding-right: 16px;
    margin-bottom: 16px;
    
    .icon {
        width: 40px;
        background: var(--lt-clr-pr-1);
        border-radius: 100px;
        text-align: center;
        padding: 3px 0;
    }
}

.lt-subtitle-2 {
    font-family: var(--lt-font-1);
    display: inline-flex;
    background-color: #FAC12E;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    color: var(--lt-clr-sd-1);
    padding: 4px 10px;
    margin-bottom: 12px;

    &:is(.has-v2) {
        background-color: #fff;
    }
}

.lt-sec-title-1 {
    font-family: var(--lt-font-1);
    font-weight: 700;
    line-height: 1.0769;
    font-size: 52px;
    color: var(--lt-clr-h-1);
    letter-spacing: -2%;
    margin-bottom: 0;

    @media #{$xl} {
        font-size: 48px;
    }

    @media #{$lg} {
        font-size: 42px;
    }

    @media #{$md} {
        font-size: 36px;
    }

    @media #{$xs} {
        font-size: 30px;
    }

    @media #{$sm} {
        font-size: 34px;
    }

    &:is(.has-v2) {
        line-height: 1;
    }
}




/*
    typography-end
*/

